# vim: set fdm=marker fenc=utf-8 ff=unix sts=0 ft=neomuttrc :
#
# TO DEBUG
# - set VAR? to see the actual value
# - :exec show-log-messages
# https://gitlab.com/sarpik/mutt-wizard/-/blob/master/muttrc
# http://www.davep.org/mutt/muttrc/
# how to debug explained here https://neomutt.org/dev/debug
# :exec what-key to find the name of the key
# run :set ?option to see the value of a command
# set debug_level = 2
#
# double u to uncancel a delete
# https://stevelosh.com/blog/2012/10/the-homely-mutt/#s22-postponing-drafts
#
# http://therandymon.com/woodnotes/mutt/node58.html
#
# Message status flags
#D	message is deleted (is marked for deletion)
# d	message has attachments marked for deletion
# K	contains a PGP public key
# N	message is new
# O	message is old
# P	message is PGP encrypted
# r	message has been replied to
# S	message is signed, and the signature is successfully verified
# s	message is signed
# !	message is flagged
# *	message is tagged
# n	thread contains new messages (only if collapsed)
# o	thread contains old messages (only if collapsed)
#
# Message recipient flags
# +	message is to you and you only
# T	message is to you, but also to or CC'ed to others
# C	message is CC'ed to you
# F	message is from you
# L	message is sent to a subscribed mailing list
#
set move = no

# disable top menu bar
set help=no

# TODO set flag_chars
# TODO set to_chars " +TCFLR"


set sleep_time = 0		# Pause 0 seconds for informational messages
set markers = no		# Disables the `+` displayed at line wraps
set mark_old = no		# Unread mail stay unread until read

set tilde                # displays "~" to show EOF

set history=100

set save_history=100    # per category size of the history

bind index D delete-thread
bind pager [ previous-unread
bind pager ] next-unread

bind index,pager y modify-labels
bind index,pager X change-vfolder


# to prevent from jumping to next mail
set pager_stop = yes

# set mailcap_path = ~/.config/neomutt/mailcap
# alternative_order multipart/mixed text/plain text/calendar application/ics text/html
# auto_view text/html
# auto_view text/calendar
# auto_view application/ics
# set show_multipart_alternative = "info"

# exec change-vfolder
#
# set debug_file = neolog
# between 1-5, 2 recommended
# set debug_level = 2

# TODO fix folder hooks
# source ~/.config/neomutt/neomuttrc
#
# Plenty of space
# set sidebar_divider_char = '│'
set sort_aux = reverse-last-date-received

# source theme
# source $XDG_CONFIG_HOME/neomutt/dracula.muttrc
# source $XDG_CONFIG_HOME/neomutt/zenburn.neomuttrc
source solarized-dark-256.neomuttrc
# source $XDG_CONFIG_HOME/neomutt/formats

# formats{{{
# set alias_format="%2n %t %-20.20a: %r"
# set attach_format="%2n %D%I%u%t %T%f %d (%s) (%m/%M, %e, %C)"
# set compose_format="Compose %h [Approx. msg size: %l, Atts: %a] %v %>-"
# set date_format="!%a %e.%h'%y at %k:%M:%S %Z"
# set folder_format="%N %3C %d %2l (%5s) %f"
# set message_format="From: <%a>, Sub: %s"

# controls how date is displayed in index_format
# set date_format="%A %d %b %Y à %H:%M:%S (%Z)"
# set date_format="%<[y?%<[d?%[%H:%M]&%[%m/%d]>&%[%y.%m]>"

# set index_format = "%4C %Z %{%b %d} %-15.15L (%?l?%4l&%4c?) %s"
# %{%d %d}
# TODO display only if collapsed
# &%<l?%l Lines&%c Bytes>
# I want to be able to see where
# (%?l?%4l&%4c?)
# %g -> tags
# %> inbox name ?
# SCOL / FCOL
# %<[y?%<[m?%<[d?%[%H:%M ]&%[%a %d]>&%[%b %d]>&%[%m/%y ]>
# use conditional dates
# %Z -> tags
# set index_format="%4C %-6@date@ %-15.15F %Z (%4c) %s"

# index-format-hook  date  "~d<1d"    "%[%H:%M]"
# index-format-hook  date  "~d<1m"    "%[%a %d]"
# index-format-hook  date  "~d<1y"    "%[%b %d]"
# index-format-hook  date  "~A"       "%[%m/%y]"

set index_format = "%-15.15L %<M?%2M Msgs&       > %Z %g %s %*    %<[y?%<[m?%<[d?%[%H:%M ]&%[%a %d]>&%[%b %d]>&%[%m/%y ]>"
#
# set index_format="%?M?_%M_ ?%Z %2C %.13d (%-$FCOL.${FCOL}F) %-$SCOL.${SCOL}s %?M?_%M_&(%c/%l?"

# set pager_format="%Z %C/%m %d (%F) %s (%c/%l) %|-"
# set pgp_entry_format="%3n %t%f %4l/0x%k %-4a %2c %u %[%a %e.%h'%y at %k:%M:%S %Z]"

# set status_format="_%r_ %h: %f, %l/%m (%P,%s) [ %?p?PP:%p ?%?t?Tag:%t ?%?d?DEL:%d ?]%?V?, %L/%M only=%V? < %?F?go:%F ?%?n?new:%n ?> %v"
# }}}

# ultimate trick to
# https://unix.stackexchange.com/questions/60838/saving-email-as-file-in-mutt
alternative_order text/plain text text/enriched


# https://neomutt.org/guide/tuning
# if too low, can slow down neomutt
set read_inc=1000

# read-thread
# work around a bug in vimrc config
bind index <Return> display-message
bind pager,index R group-reply

# TODO add to vimrc mappings
bind index zc collapse-thread
bind index zo collapse-thread

bind index [ previous-unread
bind index ] next-unread

alternative_order text/enriched text/plain text

set delete = yes


# macro attach s <save-entry><kill-line>/home/YOU/downloads/<enter>y "Save entry"

# hum keep it manual
# timeout-hook 'exec sync-mailbox'
# shutdown-hook 'exec sync-mailbox'

macro index @ '<shell-escape>check-mail.sh >/dev/null 2>&1 &<enter>' "Check for new mails"

# nani ?
# set uncollapse_jump = yes

# in order to do http://flavioleitner.blogspot.com/2011/03/patch-workflow-with-mutt-and-git.html
set pipe_split=yes

# only available in neomutt
set new_mail_command="notify-send --icon='/home/teto/.config/neomutt/mutt-48x48.png' \
'New Email' '%n new messages, %u unread.' &"

# set hidden_tags = "unread,draft,flagged,passed,replied,attachment,signed,encrypted"

# https://neomutt.org/feature/notmuch

# index,pager 	<change-vfolder> 	switch to another virtual folder, a new folder maybe be specified by vfolder description (see virtual-mailboxes) or URI. the default is next vfolder with unread messages
# index,pager 	<entire-thread> 	read entire thread of the current message
# index,pager 	<sidebar-toggle-virtual> 	toggle between mailboxes and virtual mailboxes
# index,pager 	<vfolder-from-query> 	generate virtual folder from notmuch search query. Note: TAB completion of 'tag:' names is available.
# index 	<vfolder-window-forward> 	generate virtual folder by moving the query's time window forward
# index 	<vfolder-window-backward> 	generate virtual folder by moving the query's time window backward

# tag-prefix-cond

# t to tag messages

set collapse_all
unset collapse_unread

# locales FR pour les nom des jours et mois
# set charset

# Format de date
# set date_format="%A %d %b %Y à %H:%M:%S (%Z)"

# Replace some tags with icons
# https://neomutt.org/feature/custom-tags#commands
# tag-transforms
# https://neomutt.org/feature/global-hooks

# phrase d'intro pour réponse quotée
# set attribution="Le %d, %n a écrit :"
# set forward_format="[Fwd: %s]"
# set forward_quote
#set pager_index_lines=7
#set pager_stop
# set edit_headers=yes

# set sig_dashes=yes
# set pager_stop
# Correcteur d'orthographe
# set ispell="aspell -e -c"
# <Enter>             select-entry                   sélectionner l'entrée courante

bind index D delete-message

# cache caching {{{
# $header_cache and $message_cachedir
# set message_cachedir=
# }}}


bind index,pager B sidebar-toggle-visible



# does it run notmuch ?
# macro index o "<shell-escape>mbsync mailbox<enter>" "run mbsync to sync mail for this account"
# taken from steve losh config
bind index p recall-message
bind compose p postpone-message

# sidebar {{{
unset sidebar_visible
set sidebar_format = "%B%?F? [%F]?%* %?N?%N/?%S"
set mail_check_stats
# Plenty of space
set sidebar_width = 25
# Pretty line-drawing character
set sidebar_divider_char = '│'
# }}}

# compose View Options{{{
set envelope_from                    # which from?
set edit_headers                     # show headers when composing
set fast_reply                       # skip to compose when replying
set askcc                            # ask for CC:
set fcc_attach                       # save attachments with the body
set forward_format = "Fwd: %s"       # format of subject when forwarding
set forward_decode                   # decode when forwarding
set attribution = "On %d, %n wrote:" # format of quoting header
set reply_to                         # reply to Reply to: field
set reverse_name                     # reply as whomever it was to
set include                          # include message in replies
set forward_quote                    # include message in forwards
set text_flowed
unset sig_dashes                     # no dashes before sig
unset mime_forward                   # forward attachments as part of body

# }}}

auto_view text/html		# automatically show html (mailcap uses w3m)


# Configure header displays {{{

# Ignore all headers
ignore *

# Then un-ignore the ones I want to see
unignore From:
unignore To:
unignore Reply-To:
unignore Mail-Followup-To:
unignore Subject:
unignore Date:
unignore Organization:
unignore Newsgroups:
unignore CC:
unignore BCC:
unignore Message-ID:
unignore X-Mailer:
unignore User-Agent:
unignore X-Junked-Because:
unignore X-SpamProbe:
unignore X-Virus-hagbard:

# Now order the visable header lines
hdr_order From: Subject: To: CC: BCC: Reply-To: Mail-Followup-To: Date: Organization: User-Agent: X-Mailer:
# }}}

# Terminal config {{{
set ts_enabled
# set ts_status_format
# }}}

# set hidden_tags = "inbox,unread,draft,flagged,passed,replied,signed,encrypted,attachment"
# virtual-mailboxes "neomutt" "notmuch://?query=folder:neomutt and NOT tag:archive"
# virtual-mailboxes "eudyptula" "notmuch://?query=folder:eudyptula and NOT tag:archive"
# virtual-mailboxes "vfio" "notmuch://?query=folder:vfio and NOT tag:archive"

# notmuch config {{{
# This option specifies timeout for Notmuch database. Default is 5 seconds.
set nm_open_timeout = 5
# This variable specifies notmuch query type, supported types: 'threads' and
# 'messages'.
set nm_query_type = messages
# This variable specifies notmuch query limit.
set nm_db_limit = 10000
set nm_unread_tag = unread
# set nm_exclude_tags = ""
set hidden_tags = "inbox"

set nm_query_window_duration=2
set nm_query_window_timebase = "year"
# set nm_replied_tag = "replied"
 # nm_sendmail: #!/bin/bash
 #    tee >(notmuch-deliver -t sent -f Sent) | sendmail $*

# generate virtual folder from query with time window
bind index < vfolder-window-backward
bind index > vfolder-window-forward
set virtual_spoolfile = yes

# macro index A "<modify-labels>+archive -unread -inbox\\n" "Archive message"
# macro index c "<change-vfolder>?" "Change to vfolder overview"
# macro index \\\\ "<vfolder-from-query>" "Search mailbox"

virtual-mailboxes "sent" "notmuch://?query=tag:sent"
virtual-mailboxes "ietf" "notmuch://?query=tag:ietf"
virtual-mailboxes "unread" "notmuch://?query=tag:unread"

tag-transforms "unread" "" \
				"attachment" "" \
				"github" "" \
				"flagged" "" \
				"signed" ""
        # ⚑

# tag-transforms "attachment" "@" \
#                "encrypted"  "" \
#                "signed"     "✎" \
#                "neomutt-users" "users" \
#                "neomutt-devel" "devel" \
#                "github-issues" "gh"
tag-formats "attachment" "GA" \
            "encrypted"  "GE" \
            "github"  "MATTATOR" \
            "signed"     "GS"

# }}}
