# vim: set noet fdm=marker fenc=utf-8 ff=unix sts=0 sw=4 ts=4 ft=neomuttrc :
# http://www.davep.org/mutt/muttrc/
# how to debug explained here https://neomutt.org/dev/debug
# :exec what-key to find the name of the key
# run :set ?option to see the value of a command
# set debug_level = 2
set move = no

# exec change-vfolder
#
# set debug_file = neolog

# TODO fix folder hooks
# source ~/.config/neomutt/neomuttrc
#
# Plenty of space
# set sidebar_divider_char = '│'
set sort_aux = reverse-last-date-received

# source theme
source $XDG_CONFIG_HOME/neomutt/dracula.muttrc

# ultimate trick to
# https://unix.stackexchange.com/questions/60838/saving-email-as-file-in-mutt
alternative_order text/plain text text/enriched 

# read-thread
# work around a bug in vimrc config
bind index <Return> display-message
bind pager,index R group-reply

# TODO add to vimrc mappings
bind index zc collapse-thread

# in order to do http://flavioleitner.blogspot.com/2011/03/patch-workflow-with-mutt-and-git.html
set pipe_split=yes

# only available in neomutt
set new_mail_command="notify-send --icon='/home/teto/.config/neomutt/mutt-48x48.png' \
'New Email' '%n new messages, %u unread.' &"

# set hidden_tags = "unread,draft,flagged,passed,replied,attachment,signed,encrypted"

# https://neomutt.org/feature/notmuch

# index,pager 	<change-vfolder> 	switch to another virtual folder, a new folder maybe be specified by vfolder description (see virtual-mailboxes) or URI. the default is next vfolder with unread messages
# index,pager 	<entire-thread> 	read entire thread of the current message
# index,pager 	<sidebar-toggle-virtual> 	toggle between mailboxes and virtual mailboxes
# index,pager 	<vfolder-from-query> 	generate virtual folder from notmuch search query. Note: TAB completion of 'tag:' names is available.
# index 	<vfolder-window-forward> 	generate virtual folder by moving the query's time window forward
# index 	<vfolder-window-backward> 	generate virtual folder by moving the query's time window backward


# locales FR pour les nom des jours et mois
# set charset

# Format de date
# set date_format="%A %d %b %Y à %H:%M:%S (%Z)"

# Replace some tags with icons
# https://neomutt.org/feature/custom-tags#commands
# tag-transforms

# https://neomutt.org/feature/global-hooks

# phrase d'intro pour réponse quotée
# set attribution="Le %d, %n a écrit :"
# set forward_format="[Fwd: %s]"
# set forward_quote
#set pager_index_lines=7
#set pager_stop
# set edit_headers=yes

# set sig_dashes=yes
# set pager_stop
# Correcteur d'orthographe
# set ispell="aspell -e -c"
# <Enter>             select-entry                   sélectionner l'entrée courante 
# collapse_unread


# Configure header displays {{{

# Ignore all headers
ignore *

# Then un-ignore the ones I want to see
unignore From:
unignore To:
unignore Reply-To:
unignore Mail-Followup-To:
unignore Subject:
unignore Date:
unignore Organization:
unignore Newsgroups:
unignore CC:
unignore BCC:
unignore Message-ID:
unignore X-Mailer:
unignore User-Agent:
unignore X-Junked-Because:
unignore X-SpamProbe:
unignore X-Virus-hagbard:

# Now order the visable header lines
hdr_order From: Subject: To: CC: BCC: Reply-To: Mail-Followup-To: Date: Organization: User-Agent: X-Mailer:
# }}}
