# vim: set noet fdm=marker fenc=utf-8 ff=unix sts=0 sw=4 ts=4 ft=neomuttrc :
# http://www.davep.org/mutt/muttrc/
# how to debug explained here https://neomutt.org/dev/debug
# :exec what-key to find the name of the key
# run :set ?option to see the value of a command
set debug_level = 2
set move = no

# set debug_file = neolog

# TODO fix folder hooks
source ~/.config/neomutt/neomuttrc

# read-thread
bind index <Return> display-message


# locales FR pour les nom des jours et mois
# set charset

# Format de date
# set date_format="%A %d %b %Y à %H:%M:%S (%Z)"

# phrase d'intro pour réponse quotée
# set attribution="Le %d, %n a écrit :"
# set forward_format="[Fwd: %s]"
# set forward_quote
#set pager_index_lines=7
#set pager_stop
# set edit_headers=yes

# set sig_dashes=yes
# set pager_stop
# Correcteur d'orthographe
# set ispell="aspell -e -c"
# <Enter>             select-entry                   sélectionner l'entrée courante 
# collapse_unread


# Configure header displays {{{

# Ignore all headers
ignore *

# Then un-ignore the ones I want to see
unignore From:
unignore To:
unignore Reply-To:
unignore Mail-Followup-To:
unignore Subject:
unignore Date:
unignore Organization:
unignore Newsgroups:
unignore CC:
unignore BCC:
unignore Message-ID:
unignore X-Mailer:
unignore User-Agent:
unignore X-Junked-Because:
unignore X-SpamProbe:
unignore X-Virus-hagbard:

# Now order the visable header lines
hdr_order From: Subject: To: CC: BCC: Reply-To: Mail-Followup-To: Date: Organization: User-Agent: X-Mailer:
# }}}
