root = true

[*]
indent_style = space
indent_size = 1
tab_width = 4
end_of_line = lf
insert_final_newline = true
charset = utf-8

[{Makefile,**/Makefile,runtime/doc/*.txt}]
indent_style = tab
indent_size = 4

[*.nix]
indent_size = 2

[*.lua]
indent_style = tab

