# test to increase cursor size
# seat seat0 xcursor_theme phinger-cursors-light 60

# for_window [title="ncmpcpp*"] move scratchpad
# bindsym $mod+F1 [title="ncmpcpp*"] move scratchpad; [title="ncmpcpp*"] scratchpad show

# Mouse bindings operate on the container under the cursor instead of the container that has focus. Mouse buttons can
# either be specified in the form button[1-9] or by using the name of the event code (ex BTN_LEFT or BTN_RIGHT).  For
# the  former  option,  the  buttons  will  be mapped to their values in X11 (1=left, 2=middle, 3=right, 4=scroll up,
# 5=scroll down, 6=scroll left, 7=scroll right, 8=back, 9=forward). For the latter option, you  can  find  the  event
# names using libinput debug-events.

# open rofi on default workspace :D 
# bindsym --whole-window BTN_RIGHT  exec /nix/store/shmhp8aarsk2vxam3zgk2q9ibx5ycm96-rofi-1.7.8+wayland1/bin/rofi -modi 'drun' -show drun

# testing footswitch
bindsym --no-repeat F24 /home/teto/home/bin/record.sh "toto.wav"
bindsym --release F24 /home/teto/home/bin/transcript-and-talk.sh "toto.wav"

# Log a message when the laptop lid is opened or closed.
bindswitch lid:toggle exec echo "Lid moved"


# hide cursor after some time
# seat * hide_cursor 8000

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

for_window [title="Thunderbird$"] title_format " %title"
for_window [app_id="xdg-desktop-portal-gtk"] floating enable

for_window [title="(?:Open|Save) (?:File|Folder|As)"] floating enable;
for_window [title="(?:Open|Save) (?:File|Folder|As)"] resize set 800 600
#
# for_window [window_role="pop-up"] floating enable

for_window [instance="Popcorn-Time"] floating disable
for_window [window_role="bubble"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_role="Preferences"] floating enable
for_window [window_type="dialog"] floating enable
for_window [window_type="menu"] floating enable

for_window [title="Thunderbird$"] title_format " %title"

# for_window [all] title_window_icon on
# for_window [class="^Firefox$"] title_window_icon on
