# for_window [title="ncmpcpp*"] move scratchpad
# bindsym $mod+F1 [title="ncmpcpp*"] move scratchpad; [title="ncmpcpp*"] scratchpad show
seat * hide_cursor 8000

for_window [title="Thunderbird$"] title_format " %title"
for_window [app_id="xdg-desktop-portal-gtk"] floating enable

for_window [title="(?:Open|Save) (?:File|Folder|As)"] floating enable;
for_window [title="(?:Open|Save) (?:File|Folder|As)"] resize set 800 600
#
# for_window [window_role="pop-up"] floating enable

for_window [instance="Popcorn-Time"] floating disable
for_window [window_role="bubble"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_role="Preferences"] floating enable
for_window [window_type="dialog"] floating enable
for_window [window_type="menu"] floating enable

for_window [title="Thunderbird$"] title_format " %title"

# for_window [all] title_window_icon on
# for_window [class="^Firefox$"] title_window_icon on
