! This file is the oldest version
! It should be best to use ~/.Xresources instead
!http://superuser.com/questions/243914/xresources-or-xdefaults

!You need to install https://github.com/DaveDavenport/rofi-themes/ */
!#include "Xresources.d/solarized.dark"
! #include "Xresources.d/urxvt" */
*color0: #d70a53 
#include "rofi-themes/Themes/lb.theme"

