[ClassicUI]
# Status Panel Position X
#MainWindowOffsetX=500
# Status Panel Position Y
#MainWindowOffsetY=40
# Taille de la police de caractères
#FontSize=0
# Police de caractères
#Font=Sans
# Menu Font
#MenuFont=Sans
# Font Locale to display
#FontLocale=zh_CN.UTF-8
# Use System Tray Icon
# Valeur disponible :
# True False
#UseTray=True
# Status Panel Hide Mode
# Valeur disponible :
# Show
# Auto
# Hide when tray icon is available
# Hide
#MainWindowHideMode=Hide when tray icon is available
# Vertical Candidate Word List
# Valeur disponible :
# True False
#VerticalList=False
# Skin Name
#SkinType=default

