[X Keyboard]
# Allow to Override System XKB Settings
# Valeur disponible :
# True False
#OverrideSystemXKBSettings=True
# Use the layout of first keyboard input method in list as default layout
# Valeur disponible :
# True False
#UseFirstKeyboardIMAsDefaultLayout=True
# commande xmodmap
#XModmapCommand=xmodmap
# Apply this custom xmodmap script after layout change
#CustomXModmapScript=

