[Clipboard]
# Save Clipboard History To File
# Valeur disponible :
# True False
#SaveHistoryToFile=True
# Length of Clipboard History to Save
#HistoryLength=5
# Maximum length of each candidate word
#CandidateMaxLength=43
# Trigger Key for Clipboard History List
#TriggerKey=CTRL_;
# Use Selection Text
# Valeur disponible :
# True False
#UsePrimary=True
# Choose key modifier
# Valeur disponible :
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=None
# Ignore blank selections
# Valeur disponible :
# True False
#IgnoreBlank=True

