# This is your rocks.nvim plugins declaration file.
# Here is a small yet pretty detailed example on how to use it:
#
# [plugins]

# todo generate some via nix ?
import = [
  # "rocks-local.toml", # Paths are relative to the rocks.toml file directory by default
  # "~/my-rocks.toml", # Path expansion is supported through vim.fn.expand
  # "/home/user/my-rocks.toml", # Absolute paths are supported
]


[config]
plugins_dir = "plugins/"

[dev]
path = "/home/teto/neovim"

# List of non-Neovim rocks.
# This includes things like `toml` or other lua packages.
[rocks]

# List of Neovim plugins to install alongside their versions.
# If the plugin name contains a dot then you must add quotes to the key name!
[plugins]
"rocks-git.nvim"= "2.5.7"
"rocks-config.nvim" = "3.1.2"
# "diffview.nvim" = "scm"
"haskell-tools.nvim" = "6.2.0"

# needed the patch from https://github.com/nvimtools/none-ls.nvim/pull/277/
"none-ls.nvim" = "scm"
"none-ls-extras.nvim" = "scm"

"bufferline.nvim" = "4.9.1"
auto-session = "2.5.1"
"trouble.nvim" = "3.7.1"

# remove now that it's nix installed
"lualine.nvim" = "scm"
# stopped working
# "rocks-lazy.nvim" = "scm"
"nui.nvim" = "0.4.0"
# neotest = "5.13.4"
"rocks-dev.nvim" = "1.8.1"
# nvim-lint = "scm"
# "telescope.nvim" = "scm"
"lsp_signature.nvim" = "0.3.1"
friendly-snippets = "scm"
# "haskell-snippets.nvim" = "1.4.4"
"yazi.nvim" = "13.1.0"
# tree-sitter-org = "0.0.1"

# "lspkind.nvim" = "scm"
# "modicator.nvim" = "scm"

# todo bind it to rest-nvim in nixpgs 
# "rest.nvim" = "3.13.0"
# tree-sitter-http = "0.0.37"

# works with hop.nvim to jump somewhere in the AST (depends on hop.nvim so not that interesting)
# nvim-treehopper = "scm"

# nvim-bqf= "1.1.1"

# TODO marks-nvim ?

vim-startuptime= "4.5.0"
menu= "scm"
# "snacks.nvim" = "2.6.0"
fzf-lua = "0.0.2385"
# "lz.n" = "2.12.0"
"indent-blankline.nvim" = "3.9.0"
# "llm.nvim"= "scm"
# volt is a UI library
volt= "scm"
"grug-far.nvim"= "1.6.56"
# orgmode = "0.7.1"
# neogit = "2.0.0"
# "diffview.nvim" = "scm"
# tree-sitter-norg = "0.2.6"
# tree-sitter-orgmode = "2.0.1"
"gitsigns.nvim"= "1.0.2"
"feed.nvim" = "2.19.2"
# "typescript-tools.nvim" = "scm"

# tree-sitter-hurl = "0.0.31"
# "telescope.nvim" = "0.1.6"
# neotest-busted = "1.2.1"
tree-sitter-haskell = "0.0.38"
"rest.nvim" = "3.13.0"
tree-sitter-html = "0.0.40"
tree-sitter-xml = "0.0.42"
# nvim-treesitter-textobjects = "scm"
# "rocks-treesitter.nvim" = "1.0.3"


# [plugins.neotest-haskell]
# version = "2.0.0"
# dir = "/home/teto/neotest-haskell"

# guy said he is going to deprecate it
# [plugins."auto-save.nvim"]
# version = "scm"
# cmd = "ASToggle" # optional for lazy loading on command

# [plugins.neorg]
# version = "9.3.0"


[plugins."rikai.nvim"]
dev = true
# dir = "/home/teto/neovim/rikai.nvim"

# seems ineffective ?
# [plugins."command-and-cursor.nvim"]
# git = "moyiz/command-and-cursor.nvim"
# rev = "43485e6d4f0ffd42414b35e156075e46047563dd"

# hides secrets
# [plugins."cloak.nvim"]
# git = "laytan/cloak.nvim"
# rev = "648aca6d33ec011dc3166e7af3b38820d01a71e4"
# opt = true

[plugins."none-ls-luacheck.nvim"]
git = "gbprod/none-ls-luacheck.nvim"
rev = "v0.0.1"

# [plugins."none-ls-shellcheck.nvim"]
# git = "gbprod/none-ls-shellcheck.nvim"
# rev = "0f84461241e76e376a95fb7391deac82dc3efdbf"

[plugins."better-digraphs.nvim"]
git = "protex/better-digraphs.nvim"
rev = "5b2c63418d1e2c91d17f6d4e966bdafc5072a8d9"
opt = true

[plugins."hacker.nvim"]
git = "letieu/hacker.nvim"
rev = "6818e75c076beb05ffcad2be6a78e0e0f800416d"
opt = true

[plugins."baleia.nvim"]
git = "m00qek/baleia.nvim"
rev = "v1.4.0"

# [plugins."ansify.nvim"]
# git = "tmccombs/ansify.nvim"
# rev = "v1.0.0"

# [plugins.vim-aftercolors]
# git = "calvinchengx/vim-aftercolors"
# rev = "89b7c45a48a661da88a3a574ef9fa90b936064a4"
#

# [plugins.lualine-lsp-progress]
# git = "arkav/lualine-lsp-progress"
# rev = "56842d097245a08d77912edf5f2a69ba29f275d7"

[plugins."iron.nvim"]
# git = "vigemus/iron.nvim"
dir = "/home/teto/neovim/iron.nvim"
# rev = "v3.0"
branch = "master"

[plugins."treewalker.nvim"]
git = "aaronik/treewalker.nvim"
rev = "4992fa9d27792b7a573e4545c9b2c4e61aba4f44"

[plugins."nvim-colorizer.lua"]
git = "norcalli/nvim-colorizer.lua"
rev = "a065833f35a3a7cc3ef137ac88b5381da2ba302e"

[plugins."statuscol.nvim"]
git = "luukvbaal/statuscol.nvim"
rev = "c399884e8f64019ec9bb581251f9710915b7f996"

[plugins."lsp-progress.nvim"]
git = "linrongbin16/lsp-progress.nvim"
rev = "v1.0.15"

[plugins."fcitx.nvim"]
git = "h-hg/fcitx.nvim"
rev = "dcb6b70888aa893d3d223bb777d4117bbdac06a7"

[plugins.nvim-luadev]
git = "bfredl/nvim-luadev"
rev = "3ba0c02c378503739f1fdb95cff3ea2aad48db3e"

[plugins."colortils.nvim"]
git = "max397574/colortils.nvim"
rev = "v1.2.0"

[plugins."tidal.nvim"]
git = "https://github.com/grddavies/tidal.nvim"
rev = "fa4673e181e18fd1719ae17a1d4f4ecce2de37aa"

[plugins."codecompanion.nvim"]
git = "olimorris/codecompanion.nvim"
rev = "v18.3.0"

[plugins."fzf-lua-frecency.nvim"]
git = "elanmed/fzf-lua-frecency.nvim"
rev = "4c37d8d967a51f718af5d9556b72f16c5185c05b"
# [plugins."jj.nvim"]
# git = "nicolasgb/jj.nvim"
# rev = "v0.1.0"
#
# [plugins."hunk.nvim"]
# git = "julienvincent/hunk.nvim"
# rev = "v1.9.0"
#
