/* One Dark Color Theme */
@define-color bg #282C34;
@define-color fg #ABB2BF;
@define-color fg2 #21252B;

@define-color red #E06C75;
@define-color orange #d19a66;
@define-color yellow #e5c07b;
@define-color green #98C379;
@define-color cyan #56b6c2;
@define-color blue #61AFEF;
@define-color purple #c678dd;
@define-color white #abb2bf;
@define-color black #282c34;
@define-color gray #5c6370;
@define-color highlight #e2be7d;
@define-color comment #7f848e;

* {
    border: none;
    border-radius: 0;
    background: rgba(43, 48, 59, 0.5);
	/* font-family: "Ubuntu", "Symbols Nerd Font Mono", "Symbols Nerd Font"; */
    font-family: "Symbols Nerd Font", "Ubuntu";
/*     font-size: 13px; */
/*     min-height: 0; */
}

window#waybar {
    /* background: transparent; */
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: white;
}

/* what is this ? */
window#waybar.hidden {
 opacity: 0.2
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
    /* border-bottom: 2px solid transparent; */
}


#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
    border-bottom: 2px solid white;

}

#workspaces button.focused {
    background: #64727D;
    /* border-bottom: 2px solid white; */
}

/*-----module groups----*/
.modules-right {
	background-color: rgba(0,43,51,0.85);
    margin: 2px 10px 0 0;
}

.modules-center {
	background-color: rgba(0,43,51,0.85);
    margin: 2px 0 0 0;
}

/* .modules-left { */
/*     margin: 2px 0 0 5px; */
/* 	background-color: rgba(0,119,179,0.6); */
/* } */

/* button { */
/*     /1* Use box-shadow instead of border so the text isn't offset *1/ */
/*     box-shadow: inset 0 -3px transparent; */
/*     /1* Avoid rounded borders under each button name *1/ */
/*     border: none; */
/*     border-radius: 0; */
/* } */

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/* button:hover { */
/*     background: inherit; */
/*     box-shadow: inset 0 -3px #ffffff; */
/*     border-bottom: 3px solid white; */
/* } */

/* #workspaces button.focused { */
/*     background-color: #64727D; */
/*     box-shadow: inset 0 -3px #ffffff; */
/* } */

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode, #clock, #battery {
    padding: 0 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 0px 0px 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

/* #clock { */
/*     background-color: #64727D; */
/* } */
#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#battery {
    color: green;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 12px;
    background: #ffffff;
}

#battery.charging {
    color: #ffffff;
    /* background-color: #26A65B; */
    background-color: green;
}

#battery.critical:not(.charging) {
    color: #cc3436;
}

#tray {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
	/* margin-right: 20px; */
	margin: 20px 0 0 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
    /* background: red; */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#wireplumber.muted {
 background: red
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: yellow;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
