git+https://github.com/powerline/powerline
git+https://github.com/pydata/pandas
git+https://github.com/The-Compiler/qutebrowser
Babel==2.1.1
Jinja2==2.8
MarkupSafe==0.23
Pillow==2.9.0
Pygments==2.0.2
SecretStorage==2.1.2
Sphinx==1.3.1
XlsxWriter==0.7.3
alabaster==0.7.6
apturl==0.5.2
beautifulsoup4==4.3.2
blinker==1.3
bpython==0.12
cffi==1.1.2
click==3.1
colorama==0.3.3
command-not-found==0.3
cryptography==1.0.1
decorator==4.0.2
doc2dash==2.0.2
docutils==0.12
feedparser==5.1.3
html5lib==0.999
httplib2==0.9
## !! Could not determine repository location
i3pystatus==3.33
idna==2.0
ipython==2.3.0
keyring==4.0
language-selector==0.1
louis==2.6.2
lxml==3.4.4
oauthlib==1.0.0
onboard==1.1.2
oneconf==0.3.8
pexpect==3.2
piston-mini-client==0.7.5
plainbox==0.22.2
ply==3.7
pyasn1==0.1.8
pycparser==2.14
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.19.5.1
pygobject==3.16.2
pyparsing==2.0.3
pysmbc==1.0.15.4
python-apt==1.0.1
python-debian==0.1.27
python-gnupg==0.3.7
pytz==2015.7
pyxdg==0.25
pyzmq==14.4.1
reportlab==3.2.0
requests==2.7.0
sphinx-rtd-theme==0.1.9
system-image==3.0.2
ubuntu-drivers-common==0.0.0
ufw==0.34
virtualenv==1.11.6
wheel==0.26.0
xdiagnose==3.8.1
xkit==0.0.0
zope.interface==4.1.1
