[Desktop Entry]
Name=Greenclip
Name[ca]=Greenclip
Name[cs]=Greenclip
Name[da]=Greenclip
Name[de]=Greenclip
Name[hu]=Greenclip
Name[it]=Greenclip
Name[ja]=Greenclip
Name[nb]=Greenclip
Name[pl]=Greenclip
Name[pl_PL]=Greenclip
Name[ro]=Greenclip
Name[sv]=Greenclip
Name[zh_CN]=Greenclip
Comment=Clipboard Manager
Comment[ca]=Gestor del porta-retalls
Comment[cs]=Správce schránky
Comment[da]=Udklipsholder
Comment[de]=Verwaltung der Zwischenablage
Comment[es]=Gestor del portapapeles
Comment[fr]=Gestionnaire de presse-papier
Comment[hu]=Vágólapkezelő
Comment[it]=Gestore degli appunti
Comment[ja]=クリップボード・マネージャ
Comment[nb]=Utklippstavleverkty
Comment[pl]=Schowek
Comment[pl_PL]=Menadżer schowka
Comment[pt_BR]=Gerenciador de Área de Transferência
Comment[ro]=Administrator clipboard
Comment[ru]=Менеджер буфера обмена
Comment[sv]=Urklippshanterare
Comment[tr]=Pano Yöneticisi
Comment[zh_CN]=剪切板管理器
Icon=greenclip
Exec=greenclip daemon
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
