name: Eval nixosConfigurations

# on: [push, pull_request]
on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@v16
    # - name: Run the Magic Nix Cache
    #   uses: DeterminateSystems/magic-nix-cache-action@v3
    # disabled for now
    # - name: Build neovim
    #   run: |
    #     nix build .#nvim --accept-flake-config
    - name: Lint
      run: |
        nix fmt -- --fail-on-change
    - name: eval desktop config
      run: |
       nix eval .#nixosConfigurations.jedha-no-secrets.config.system.build.toplevel

    - name: eval laptop config
      run: |
       nix eval .#nixosConfigurations.tatooine-no-secrets.config.system.build.toplevel
       nix build --dry-run .#nixosConfigurations.tatooine-no-secrets.config.system.build.toplevel

    - name: nix flake show
      run: |
       nix flake show

    # too consuming
    # - name: enter devShell
    #   run: |
    #    nix develop --command true
